body {
	overflow: hidden; /* Hide scrollbars */
    background-color: black;
}
.world-select {
	width: 99vw;
	min-width: 300px;
	height: calc(100vh - 220px);
	position: absolute;
	bottom: 120px;
	overflow-y: auto;
	background-color: RGBA(0, 0, 0, 0.6);
	justify-content: center;
	margin: 0 auto;
}
.world {
	width: 250px;
	height: auto;
	border: 1px solid black;
	font-size: 18px;
	font-family: 'Courier New', Courier, monospace;
	color: rgb(180, 180, 180);
	margin: 0 auto;
	margin-top: 15px;
	padding: 5px;
	cursor: pointer;
}
strong {
	color: white;
}
.selected {
	border: 3px solid white;
	padding: 3px;
}
input[type=text] {
	background-color: black;
	caret-color: white;
	border: 2px solid gray;
	color: white;
	font-size: 24px;
	padding-left: 12px;
}
input[type=text]:focus {
	border: 2px solid lightgray;
}
#boxcentertop {
	z-index: 1;
	width: 80vw;
	max-width: 400px;
	height: 50px;
	position: relative;
	top: 30px;
	display: block;
	margin: 0 auto;
}
.hidden {
	display: none !important;
}
#onhover {
	background-color: rgba(0, 0, 0, 0.9);
	color: rgb(200, 200, 200);
	font-family: 'Courier New', Courier, monospace;
	word-wrap: normal;
	width: auto;
	max-width: 400px;
	position: absolute;
	z-index: 1;
	padding: 10px;
	cursor: default;
}
#quota {
	display: block;
	position: absolute;
	width: 99vw;
	margin: 0 auto;
	bottom: 110px;
	z-index: 1;
	background-color: RGBA(0, 0, 0, 0.6);
	justify-content: center;
	text-align: center;
	color: white;
}
#chat {
    position: absolute;
    left: 0px;
    top: 100px;
    height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
	padding-right: 20px;
    width: 40vw;
    min-width: 600px;
    background-color: RGBA(0, 0, 0, 0.5);
    color: white;
}
#chatbar {
    position: absolute;
    left: 30px;
    bottom: 0px;
    height: 20;
    width: calc(100vw - 60px);
    background-color: RGBA(0, 0, 0, 0.5);
    color: white;
}
.message {
    width: 100%;
    background-color: transparent;
    padding: 10px;
    word-wrap: break-word;
}
@font-face {
	font-family: 'VT323';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://willard.fun/fonts/VT323.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}